*.json  text
*.xml   text
*.php   text
*.md    text
*.css   text
*.js    text
*.html  text
*.htm   text
*.svg   text

# Ignore all test and documentation with "export-ignore".
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/tests              export-ignore
/SECURITY.md        export-ignore
/phpcs.xml          export-ignore
/phpunit.xml        export-ignore
